/* You can add global styles to this file, and also import other style files */

@import "@fontsource/roboto/index.css";
@import "@fontsource/material-icons/index.css";

@import "../../../libs/core/src/styles/styles";
@import "../../../libs/material/src/styles/styles";

html, body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  height: 100%;
  margin: 0;
}

.example-button-row {
  display: flex;
  gap: 10px;
}

