<div class="button-container">
  <button (click)="clickAddButton()"
          [disabled]="action.get('add')?.disabled"
          data-test-id="add-action"
          mat-icon-button
          type="button">
    <mat-icon>add_circle_outline</mat-icon>
  </button>
  <button (click)="clickCopyButton()" [disabled]="action.get('copy')?.disabled" mat-icon-button type="button">
    <mat-icon>content_copy</mat-icon>
  </button>
  <button (click)="clickDeleteButton()" [disabled]="action.get('delete')?.disabled" mat-icon-button type="button">
    <mat-icon>clear</mat-icon>
  </button>
</div>
